<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div th:if="${#lists.isEmpty(animals)}">
    <div>Brak zwierząt w bazie.</div>
</div>
<div th:if="${not #lists.isEmpty(animals)}">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>Imię</th>
            <th>Płeć</th>
            <th>Wiek</th>
            <th>Nr boksu</th>
            <th>Data przyjęcia</th>
            <th>Data adopcji</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal: ${animals}">
            <td><img th:src="${animal.linkToImage}"/></td>
            <td th:text="${animal.name}"></td>
            <td th:text="${animal.sex}"></td>
            <td th:text="${animal.age}"></td>
            <td th:text="${animal.roomNumber}"></td>
            <td th:text="${animal.acceptanceDate}"></td>
            <td th:text="${animal.adoptionDate}"></td>
            <td class="buttonCell">
                <a th:href="'/keeper/animals/editanimal/'+${animal.getRegistrationNumber()}">
                    <button class="btn btn-info">Edytuj</button>
                </a>
            </td>
            <td class="buttonCell">
                <a th:href="'/keeper/animals/deleteanimal/'+${animal.getRegistrationNumber()}">
                    <button class="btn btn-danger">Usuń</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>