<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div th:if="${#lists.isEmpty(foodRations)}">
    <div>Brak przyznanych racji żywnościowych.</div>
</div>
<div th:if="${not #lists.isEmpty(foodRations)}">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Imię zwierzęcia</th>
            <th>Dzienne racje</th>
            <th>Przypisany magazyn</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="foodRation: ${foodRations}">
            <td th:text="${foodRation.animal.name}"></td>
            <td th:text="${foodRation.amount}"></td>
            <td th:text="${foodRation.warehouse.id}"></td>
            <td class="buttonCell">
                <a th:href="'/keeper/foodrations/editfoodration/'+${foodRation.getId()}">
                    <button class="btn btn-info">Edytuj</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>