<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div th:if="${warehouses.getContent().isEmpty()}">
    <div>Brak magazynów w bazie.</div>
</div>
<div th:if="${not warehouses.getContent().isEmpty()}">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Nr magazynu</th>
            <th>Pojemność</th>
            <th>Pozostało</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="warehouse: ${warehouses.getContent()}">
            <td th:text="${warehouse.id}"></td>
            <td th:text="${warehouse.capacity}"></td>
            <td th:text="${warehouse.amountLeft}"></td>
        </tr>
        </tbody>
    </table>
    <div th:include="pagination :: pagination(warehouses)">></div>
</div>
</body>
</html>