<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="menuBar">
<a href="/">
    <div class="menuButton">HOME</div>
</a>
<a href="/adoption">
    <div class="menuButton">ADOPCJA</div>
</a>
<a href="/volunteer">
    <div class="menuButton">WOLONTARIAT</div>
</a>
<a href="/tips">
    <div class="menuButton">PORADY</div>
</a>
<a href="/found">
    <div class="menuButton">ZNALEZIONE</div>
</a>
<a href="/cooperation">
    <div class="menuButton">WSPÓŁPRACA</div>
</a>
<a href="/contact">
    <div class="menuButton">KONTAKT</div>
</a>
</body>
</html>