.formWarningText {
    color: red;
    margin: auto;
    text-align: center;
}

.formInfoText {
    text-align: center;
    color: green;
    margin: auto;
}

#verticalLoginForm, #verticalLoginForm > div > button , #verticalLoginForm > button{
    margin: 10px auto auto auto;
    width: 300px;
}

#registerButton {
    width: 300px;
    margin-top: -10px;
}

#submitButton{
    margin-top: 10px;
    width: 100%;
}