#suggestionsDiv {
    margin: 10px auto auto auto;
    width: 60%;
}

#suggestionsList {
    list-style: none;
    padding: 0px;
}

.suggestion {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    background-color: gainsboro;
    color: black;
}

.suggestion:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.min-table{
    width: 100%;
}

.min-cell{
    width: 33%;
}