html, body {
    height: 100%;
    font-family: "Trebuchet MS";
}

#logo {
    background: repeat-x top;
    height: 380px;
}

#logoTextImage {
    position: relative;
    top: 60px;
    float: right;
}

.loginInfoText {
    font-size: 14px;
    line-height: 34px;
}

.divTableRow {
    display: table-row;
}

#menuBar {
    background-color: #2d2d2d;
    text-align: center;
    height: 45px;
}

.wrapper {
    min-width: 750px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    display: table;
}

#content {
    overflow: hidden;
    height: 100%;
}

#footerBar {
    height: 70px;
    background-color: #2d2d2d;
}

.centerContent {
    height: 100%;
    width: 66%;
    overflow: auto;
    position: relative;
    min-width: 730px;
    margin: auto;
}

#centerContentText {
    width: 67%;
    min-width: 750px;
    min-height: 250px;
    display: flex;
    align-items: stretch;
}

.contentLeft {
    width: 22.5%;
    margin-right: 5px;
    text-align: center;
    background: url("../images/content/shadowLeft.jpg") repeat-y #eeeeee;
}

.contentText {
    width: 77.5%;
    background: url("../images/content/shadowRight.jpg") repeat-y #eeeeee right;
}

#footerUp {
    position: relative;
    top: 20px;
    display: inline-block;
    font-size: 30px;
    color: white;
}

#footerAddressSpan {
    position: relative;
    top: 8px;
    float: right;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}

.menuButton {
    height: inherit;
    width: 13.8%;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.menuButton:hover, #footerUp:hover {
    cursor: pointer;
    color: black;
    background-color: #7e7e7e;
}

.mainContentContainer {
    margin: 15px 26px 15px 15px;
    text-align: justify;
}

.leftContentContainer {
    margin: 15px 15px 15px 26px;
    text-align: center;
}

.leftMenuHeader {
    font-weight: bold;
    font-size: 14px;
}

.leftMenuContent {
}

#animalsCarouselList {
    display: none;
}

#animalsCarousel {
    border: 1px solid lightgray;
}

.leftMenuContent, .leftMenuHeader {
    display: block;
    margin-bottom: 15px;
}

#loginBar {
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    color: white;
    background-color: #2d2d2d;
    width: 655px;
    margin: auto;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

#returnButton {
    margin-top: 25px;
}

#loginForm {
    display: inline-block;
    margin-left: 5px;
}

.infoContent {
    width: 100%;
    margin: 25px;
    text-align: center;
}