body {
    font-family: "Trebuchet MS";
}

.logo {
    background-repeat: repeat-x;
    background-position: top;
    height: 380px;
}

#logoTextImage {
    position: relative;
    top: 100px;
    float: right;
}

.menuBar {
    background-color: #2d2d2d;
    text-align: center;
}

.wrapper {
    min-width: 750px;
}

.content {
    height: 1000px;
}

.footerBar {
    height: 70px;
    background-color: #2d2d2d;
}

.centerContent {
    height: 100%;
    width: 66%;
    min-width: 730px;
    margin: auto;
}

#footerUp {
    position: relative;
    top: 20px;
    display: inline-block;
    font-size: 30px;
    color: white;
}

#footerAddressSpan {
    position: relative;
    top: 8px;
    float: right;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}

.menuButton {
    height: 45px;
    width: 13.8%;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.menuButton:hover, #footerUp:hover {
    cursor: pointer;
    color: black;
    background-color: #7e7e7e;
}