<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div class="search-group">
    <div class="form-inline">
        <div class="form-group">
            <label for="searchPrefix">Szukaj:</label>
            <input type="text" class="form-control" id="searchPrefix" name="searchPrefix">
        </div>
    </div>
</div>
<div id="suggestionsDiv"></div>
<table class="table responseTable" style="display: none">
    <thead class="thead-inverse">
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
    </tr>
    </thead>
    <tbody id="responseBody">

    </tbody>
</table>
<script src="../../resources/js/search.js" th:src="@{/resources/js/search.js}"></script>
</body>
</html>