<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div class="titleText"><h3 th:text="${title}"></h3></div>
<p class="formInfoText" th:if="${param.success}!=null">
    Zmiany zostały zapisane.
</p>
<p class="formWarningText" th:if="${param.error}!=null">
    Podczas zapisu wystąpił błąd!
</p>
<p class="formWarningText" th:if="${usersList.getContent().isEmpty()}">
    Brak użytkowników spełniających wybrane warunki.
</p>
<table th:if="${not usersList.getContent().isEmpty()}" class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Login</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList.getContent()}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td class="buttonCell" th:if="${not user.getIsActive()}">
            <a th:href="'/admin/activateuser/'+${user.getUsername()}">
                <button class="btn btn-success">Aktywuj</button>
            </a>
        </td>
        <td class="buttonCell" th:if="${user.getIsActive()}">
            <a th:href="'/admin/deactivateuser/'+${user.getUsername()}">
                <button class="btn btn-warning">Dezaktywuj</button>
            </a>
        </td>
        <td class="buttonCell">
            <a th:href="'/admin/edituser/'+${user.getUsername()}">
                <button class="btn btn-info">Edytuj</button>
            </a>
        </td>
        <td class="buttonCell">
            <a th:href="'/admin/deleteuser/'+${user.getUsername()}">
                <button class="btn btn-danger">Usuń</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div class="paginationDiv">
    <ul class="pagination">
        <li th:each="i : ${#numbers.sequence( 1, usersList.totalPages)}"
            th:class="${(usersList.pageNumber == i)?'active':''}">
            <a th:href="'?page='+${i}" th:text="${i}"></a>
        </li>
    </ul>
</div>

</body>
</html>