<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5433/eschronisko</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping class="com.eschronisko.database.dto.AdministratorDTO"/>
    <mapping class="com.eschronisko.database.dto.AnimalDTO"/>
    <mapping class="com.eschronisko.database.dto.AnimalKeeperDTO"/>
    <mapping class="com.eschronisko.database.dto.AppUserDTO"/>
    <mapping class="com.eschronisko.database.dto.ApplicationDTO"/>
    <mapping class="com.eschronisko.database.dto.ClientDTO"/>
    <mapping class="com.eschronisko.database.dto.DonationDTO"/>
    <mapping class="com.eschronisko.database.dto.FoodRationsDTO"/>
    <mapping class="com.eschronisko.database.dto.MedicalCardDTO"/>
    <mapping class="com.eschronisko.database.dto.MedicalTreatmentDTO"/>
    <mapping class="com.eschronisko.database.dto.VetDTO"/>
    <mapping class="com.eschronisko.database.dto.WarehouseDTO"/>
  </session-factory>
</hibernate-configuration>