<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div th:if="${#lists.isEmpty(animals)}">
    <div>Brak zwierząt w bazie.</div>
</div>
<div th:if="${not #lists.isEmpty(animals)}">
    <h2>Lista zwierząt:</h2>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>Imię</th>
            <th>Płeć</th>
            <th>Wiek</th>
            <th>Stan zdrowia</th>
            <th>Możliwość adopcji</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal: ${animals}">
            <td><img th:src="${animal.linkToImage}"/></td>
            <td th:text="${animal.name}"></td>
            <td th:text="${animal.sex}"></td>
            <td th:text="${animal.age}"></td>
            <td th:text="${animal.medicalCard} ? ${animal.medicalCard.healthState} : 'Brak założonej karty'"></td>
            <td>
                <div th:switch="${animal.adoptionPossible}">
                    <p th:case="'1'">Tak</p>
                    <p th:case="'0'">Nie</p>
                </div>
            </td>
            <td class="buttonCell">
                <a th:href="'/vet/medicalcare/editadoptionpossible/'+${animal.getRegistrationNumber()}">
                    <button class="btn btn-info">Edytuj</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>