<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div th:if="${medicalTreatments.getContent().isEmpty()}">
    <div>Brak zaplanowanych zabiegów w bazie.</div>
</div>
<div th:if="${not medicalTreatments.getContent().isEmpty()}">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Imię zwierzęcia</th>
            <th>Nazwa zabiegu</th>
            <th>Opis zabiegu</th>
            <th>Priorytet zabiegu</th>
            <th>Data decyzji o zabiegu</th>
            <th>Planowana data zabiegu</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicalTreatment: ${medicalTreatments.getContent()}">
            <td th:text="${medicalTreatment.medicalCard.animal.name}"></td>
            <td th:text="${medicalTreatment.name}"></td>
            <td th:text="${medicalTreatment.description}"></td>
            <td>
                <div th:switch="${medicalTreatment.importance}">
                    <p th:case="'1'">Priorytetowy</p>
                    <p th:case="'0'">Zwykły</p>
                </div>
            </td>
            <td th:text="${medicalTreatment.startDate}"></td>
            <td th:text="${medicalTreatment.endDate}"></td>
            <td class="buttonCell">
                <a th:href="'/vet/medicalcare/deletetreatment/'+${medicalTreatment.getId()}">
                    <button class="btn btn-danger">Usuń</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="pagination :: pagination(medicalTreatments)">></div>
</div>
</body>
</html>