<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div th:if="${#lists.isEmpty(medicalCards)}">
    <div>Brak kart medycznych w bazie.</div>
</div>
<div th:if="${not #lists.isEmpty(medicalCards)}">
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Nr karty</th>
            <th>Imię zwierzęcia</th>
            <th>Stan zdrowia</th>
            <th>Dodatkowe informacje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicalCard: ${medicalCards}">
            <td th:text="${medicalCard.id}"></td>
            <td th:text="${medicalCard.animal.name}"></td>
            <td th:text="${medicalCard.healthState}"></td>
            <td th:text="${medicalCard.notes}"></td>
        </tr>
        </tbody>
    </table>
</div>

<link href="../../resources/css/infoStyle.css" rel="stylesheet" media="screen"
      th:href="@{/resources/css/infoStyle.css}"/>
<link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
      th:href="@{/resources/css/bootstrap.min.css}"/>
<script src="../../resources/js/registerForm.js" th:src="@{/resources/js/registerForm.js}"></script>
<script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>