<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="menu">
<span class="leftMenuHeader">REKLAMA</span>
<div id="animalsCarousel" class="leftMenuContent carousel slide" data-ride="carousel">
    <ol id="animalsCarouselList">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../../../resources/images/animals/cat.jpg"
                 th:src="@{/resources/images/animals/cat.jpg}">
        </div>
        <div class="item">
            <img src="../../../resources/images/animals/dog.jpg"
                 th:src="@{/resources/images/animals/dog.jpg}">
        </div>
        <div class="item">
            <img src="../../../resources/images/animals/horse.jpg"
                 th:src="@{/resources/images/animals/horse.jpg}">
        </div>
    </div>
</div>
</body>
</html>