<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="infoContent">
<form action="/login" method="post">
    <p th:if="${param.error}!=null">
        Invalid username and password.
    </p>
    <p th:if="${param.logout}!=null">
        You have been logged out.
    </p>
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
    </p>
    <button type="submit" class="btn">Log in</button>
</form>
</body>
</html>