<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="infoContent">
<form action="/register" method="post" id="verticalLoginForm">
    <div class="form-group">
        <label class="sr-only" for="username">Login</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Login" th:required="true">
        <label class="sr-only" for="password">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Hasło"th:required="true">
        <label class="sr-only" for="passwordRepeat">Powtórz hasło</label>
        <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat"
               placeholder="Powtórz hasło" th:required="true">
    </div>
    <div class="form-group">
        <label class="sr-only" for="eMail">E-mail</label>
        <input type="email" class="form-control" id="eMail" name="eMail" placeholder="E-mail" th:required="true">
    </div>
    <div class="form-group">
        <label class="sr-only" for="name">Imię</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Imię" th:required="true">
        <label class="sr-only" for="surname">Nazwisko</label>
        <input type="text" class="form-control" id="surname" name="surname" placeholder="Nazwisko" th:required="true">
        <label class="sr-only" for="address">Adres</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Adres" th:required="true">
    </div>
    <div class="form-group">
        <select class="form-control" id="userRole" name="userRole" th:required="true">
            <option th:each="state : ${T(com.eschronisko.account.util.UserRole).values()}"
                    th:value="${state.getRoleValue()}" th:text="${state.getDisplayName()}">
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Zarejestruj się</button>
</form>
<link href="../../resources/css/infoStyle.css" rel="stylesheet" media="screen"
      th:href="@{/resources/css/infoStyle.css}"/>
<script src="../../resources/js/registerForm.js" th:src="@{/resources/js/registerForm.js}"></script>
</body>
</html>