<!DOCTYPE html>
<head>
    <title>eSchronisko - strona glowna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../../resources/css/style.css" rel="stylesheet" media="screen"/>
    <script src="../../resources/js/jquery-3.1.1.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/homepage.js"></script>
</head>
<body>
<div class="container-fluid wrapper">
    <div class="divTableRow" id="logo">
        <div class="centerContent">
            <img id="logoTextImage" src="../../resources/images/logo/logoText.png"/>
        </div>
    </div>
    <div class="divTableRow" id="menuBar">
        <div class="centerContent">
            <a href="#">
                <div class="menuButton">HOME</div>
            </a>
            <a href="#">
                <div class="menuButton">ADOPCJA</div>
            </a>
            <a href="#">
                <div class="menuButton">WOLONTARIAT</div>
            </a>
            <a href="#">
                <div class="menuButton">PORADY</div>
            </a>
            <a href="#">
                <div class="menuButton">ZNALEZIONE</div>
            </a>
            <a href="#">
                <div class="menuButton">WSPÓŁPRACA</div>
            </a>
            <a href="#">
                <div class="menuButton">KONTAKT</div>
            </a>
        </div>
    </div>
    <div class="divTableRow" id="content">
        <div class="centerContent" id="centerContentText">
            <div class="contentLeft">
                <div class="leftContentContainer">
                    <span class="leftMenuHeader">MENU</span>
                    <span class="leftMenuContent">
                        <ul class="list-group">
                            <a data-toggle="collapse" href="#collapse1"><button class="list-group-item btn-primary">Grupa 1</button></a>
                            <div id="collapse1" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <a href="#">
                                        <li class="list-group-item">Link 1</li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">Link 2</li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">Link 3</li>
                                    </a>
                                </ul>
                            </div>
                            <a data-toggle="collapse" href="#collapse2"><button class="list-group-item btn-primary">Grupa 2</button></a>
                            <div id="collapse2" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <a href="#">
                                        <li class="list-group-item">Link 4</li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">Link 5</li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">Link 6</li>
                                    </a>
                                </ul>
                            </div>
                            <a data-toggle="collapse" href="#collapse3"><button class="list-group-item btn-primary">Grupa 3</button></a>
                            <div id="collapse3" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <a href="#">
                                        <li class="list-group-item">Link 7</li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">Link 8</li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">Link 9</li>
                                    </a>
                                </ul>
                            </div>
                        </ul>
                            

                    </span>
                    <span class="leftMenuHeader">REKLAMA</span>
                    <div id="advCarousel" class="leftMenuContent carousel slide" data-ride="carousel">
                      <ol id="advCarouselList">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img src="../../resources/images/adv/cat.jpg">
                        </div>
                        <div class="item">
                          <img src="../../resources/images/adv/dog.jpg">
                        </div>
                        <div class="item">
                          <img src="../../resources/images/adv/horse.jpg">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="contentText">
                <div class="mainContentContainer">
                    <span class="text">
                        <p>
                    &nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus felis et blandit efficitur. Nam ullamcorper odio massa, non viverra arcu fermentum convallis. Vestibulum eu ex accumsan, ullamcorper diam vitae, fermentum dui. Nam dictum mi laoreet ullamcorper hendrerit. Nulla at volutpat quam. Donec ac metus in tortor consectetur imperdiet. Cras et hendrerit nisl. Cras quam diam, tristique ac ante sit amet, elementum elementum est. Proin eget tempor tortor. Vivamus aliquam ex ligula, vitae ultricies quam ultrices vel. Etiam nec pharetra nulla, pretium laoreet nibh. Quisque luctus ipsum sit amet dolor accumsan condimentum sed in ligula.
                        </p>
                        <p>
                    &nbsp;Integer ultrices a eros non tincidunt. In in tortor tincidunt, hendrerit augue nec, porttitor odio. Fusce in nisl sit amet purus blandit hendrerit et vitae mauris. Integer id lectus eget nulla semper hendrerit. Morbi dictum egestas lacinia. Suspendisse pharetra gravida dui, nec congue nisi suscipit in. Proin nec dolor laoreet leo vulputate aliquam id non nibh. In hac habitasse platea dictumst. Cras condimentum hendrerit diam, et cursus risus. Phasellus in massa vel nibh egestas fermentum vel sagittis lorem. Vivamus tempor mi a risus eleifend, id viverra mi consequat. Aenean in magna rutrum, gravida nunc vitae, placerat ex. Ut tincidunt vitae mauris aliquam interdum.
                        </p>    
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="divTableRow" id="footerBar">
        <div class="centerContent">
            <span class="glyphicon glyphicon-menu-up" id="footerUp" onclick="scrollPageToTop()"></span>
            <span class="text-right" id="footerAddressSpan">eSchronisko 2016<br>ul. Długa 123<br>31-141 Kraków</span>
        </div>
    </div>
</div>
</body>
</html>