<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>eSchronisko - strona glowna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../../resources/css/style.css" rel="stylesheet" media="screen"/>
    <script src="../../resources/js/jquery-3.1.1.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/homepage.js"></script>
</head>
<body>
<div class="container-fluid wrapper">
    <div class="row logo">
        <div class="centerContent">
            <img id="logoTextImage" src="../../resources/images/logo/logoText.png"/>
        </div>
    </div>
    <div class="row menuBar">
        <div class="row centerContent">
            <div class="menuButton">HOME</div>
            <div class="menuButton">ADOPCJA</div>
            <div class="menuButton">WOLONTARIAT</div>
            <div class="menuButton">PORADY</div>
            <div class="menuButton">ZNALEZIONE</div>
            <div class="menuButton">WSPÓŁPRACA</div>
            <div class="menuButton">KONTAKT</div>
        </div>
    </div>
    <div class="row content">
        <div class="centerContent">
            abcddef
        </div>
    </div>
    <div class="row footerBar">
        <div class="centerContent">
            <span class="glyphicon glyphicon-menu-up" id="footerUp" onclick="scrollPageToTop()"></span>
            <span class="text-right" id="footerAddressSpan">eSchronisko 2016<br>ul. Długa 123<br>31-141 Kraków</span>
        </div>
    </div>
</div>
</body>
</html>