<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'eSchronisko - '+${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/style.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/style.css}"/>
    <link href="../../resources/css/infoStyle.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/infoStyle.css}"/>
    <script src="../../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery-3.1.1.min.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../resources/js/script.js" th:src="@{/resources/js/script.js}"></script>
    <script src="../../resources/tinymce/tinymce.min.js" th:src="@{/resources/tinymce/tinymce.min.js}"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
</head>
<body>
<div class="container-fluid wrapper">
    <div class="divTableRow" id="logo">
        <div class="centerContent">
            <div id="loginBar" class="clearfix" th:include="${loginBar} :: loginBar(${loginMsg})"></div>
            <img id="logoTextImage" src="../../resources/images/logo/logoText.png"
                 th:src="@{/resources/images/logo/logoText.png}"/>
        </div>
    </div>
    <div class="divTableRow" id="menuBar">
        <div class="centerContent" th:include="menuBar/menuBar :: menuBar">></div>
    </div>
    <div class="divTableRow" id="content">
        <div class="centerContent" id="centerContentText">
            <div class="contentLeft">
                <div class="leftContentContainer" th:include="menu/adminMenu :: menu"></div>
            </div>
            <div class="contentText">
                <div class="mainContentContainer">
                    <form method="post" th:action="'/admin/edit/'+${viewName}">
                        <div class="form-group">
                            <label for="siteTitle">Tytuł strony: </label>
                            <input class="form-control" type="text" th:value="${siteTitle}" id="siteTitle"
                                   name="siteTitle"/>
                        </div>
                        <div class="form-group">
                            <textarea th:text="${siteContent}" id="siteContent"
                                      name="siteContent"></textarea>
                        </div>
                        <div class="form-group">
                            <p class="formInfoText" th:if="${param.success}!=null">
                                Dane zostały zapisane.
                            </p>
                            <p class="formWarningText" th:if="${param.error}!=null">
                                Podczas zapisu wystąpił błąd.
                            </p>
                            <button id="submitButton" type="submit" class="btn btn-success">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="divTableRow" id="footerBar" th:include="footer/footer :: footer"></div>
</div>
</body>
</html>