<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div th:if="${animals.getContent().isEmpty()}">
    <div>Brak zwierząt do adopcji.</div>
</div>
<div th:if="${not animals.getContent().isEmpty()}">
    <h2>Lista zwierząt:</h2>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Zdjęcie</th>
            <th>Imię</th>
            <th>Płeć</th>
            <th>Wiek</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="animal: ${animals.getContent()}">
            <td><img style="width: 150px" th:src="${animal.linkToImage}"/></td>
            <td th:text="${animal.name}"></td>
            <td th:text="${animal.sex}"></td>
            <td th:text="${animal.age}"></td>
            <td class="buttonCell">
                <a th:href="'/client/adopt/'+${animal.getRegistrationNumber()}">
                    <button class="btn btn-info">Adoptuj</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="pagination :: pagination(animals)">></div>
</div>
</body>
</html>